.decl {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: monospace;
}

.module {
    font-size: 200%;
}

.class, .def {
    font-size: 100%;
}

.children {
    padding-left: 25px;
    border-left: 4px dotted #181818;
}

.parameters {
    display: inline;
}

.param {
    display: inline;
}

.keyword {
    color: #9010bb;
}

.ident {
    color: #14c9e9;
}

.param-name {
    color: white;
}

.type {
    color: #c758a2;
}